[bumpversion]
current_version = 0.40.0
commit = True
message = Update version {current_version} -> {new_version}

[bumpversion:file:README.md]
search = {current_version}
replace = {new_version}

[bumpversion:file:version.txt]
search = {current_version}
replace = {new_version}

[bumpversion:file:src/EG.Common/BusinessLogic.Contracts/BusinessLogic.Contracts.csproj]
search = {current_version}
replace = {new_version}

[bumpversion:file:src/EG.Backend/BusinessLogic/BusinessLogic.csproj]
search = {current_version}
replace = {new_version}

[bumpversion:file:src/EG.FrontEnd/UIWasm/UIWasm.csproj]
search = {current_version}
replace = {new_version}
