.DS_Store
.env

# dotnet
bin/
obj/

# rust
target/
# sqlx
.sqlx/

# java
.idea
.settings

# python
*.egg-info
__pycache__
*.venv
dist/
.ropeproject/

# latex
*.log
*.aux
*.out
*.bbl
*.blg
*.synctex.gz
*.toc
