<nav class="navbar navbar-expand-lg navbar-dark bg-black sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Encyclopedia Galactica</a>
        <div class="float-end">
            <EGModuleSelector/>
        </div>
    </div>
</nav>
